<div class="modal fade" id="title-form-modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Title</h4>
      </div>
      <div class="modal-body">
        <div id="title-form-panel"></div>
        <p><b>Note:</b> This is the primary record for this title and may be linked to other citations.</p>  
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default title-unlink-button"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Unlink Record</button>
          <button type="button" class="btn btn-primary title-save-button">Save</button>
          <button type="button" class="btn btn-default title-cancel-button">Cancel</button>
      </div>
    </div>
  </div>
</div>