<h1><%= pageTitle %></h1>

<div id="person-form-panel"></div>

<div class="actions">
  <button type="button" class="btn btn-primary save-button">Save</button>
  <button type="button" class="btn btn-default cancel-button">Cancel</button>
</div>