<div class="modal fade" id="person-form-modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Person</h4>
      </div>
      <div class="modal-body">
        <div id="person-form-panel"></div>
        <p><b>Note:</b> This is the primary record for this person and may be linked to other publications.</p>  
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default person-unlink-button"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Unlink Record</button>
          <button type="button" class="btn btn-primary person-save-button">Save</button>
          <button type="button" class="btn btn-default person-cancel-button">Cancel</button>
      </div>
    </div>
  </div>
</div>