<div class="modal fade" id="publisher-form-modal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Publisher</h4>
      </div>
      <div class="modal-body publisher-form-panel">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default pub-unlink-button"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Unlink Record</button>
          <button type="button" class="btn btn-primary pub-save-button">Save</button>
          <button type="button" class="btn btn-default pub-cancel-button">Cancel</button>
      </div>
    </div>
  </div>
</div>