<div class="welcome">
  <h1>Welcome to the Digital Black Bibliographic Project!</h1>

  <div class="message">
    <p>Your account is pending approval from the editorial staff.</p> 
    <p>Once your account is approved, you will be able to add records to the project.</p>  
    <p><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %></p>
  </div>
</div>
