<div class="dibb-app"></div>

<script>

// Global settings for the app from the server
var DiBBSettings = {
  neo4jDashboard: '<%= Rails.application.secrets.neo4j['server'] %>',
  isAdmin: <%= current_user.admin? %>
};

</script>