.biblio-set-form {
  
  margin: 20px;

	h1 {
		margin-left: 30px;
	}
  .form-wrapper {
    margin: 30px;
    //max-width: 500px;
  }
  
  .field-wrapper {
    margin-bottom: 20px;
  }
  
  .instructions {
    font-style: italic;
    margin-left: 5px;
    margin-top: 5px;
  }
  
  .actions {
    float: right;
  }

	.main-panel {
		max-width: 800px;
		margin-left: 11px;
	}

	.tab-pane {
		max-width: 800px;
    padding: 10px;
	}

	.tab-content {
		border: 1px solid #dddddd;
		padding-top: 20px;
		margin-top: -1px;
		margin-bottom: 10px;
	}
  
  #publication-places {
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .bib-staff {
    margin-top: 50px;
    margin-left: 30px;
  }

}