.bibliograph-list {
  
   margin: 20px;
  
  .table-wrapper {
    margin: 30px;
  }
  
  .actions a {
    margin-top: 20px;
    margin-right: 10px;
  }
  
  .instructions {
    font-style: italic;
    margin-left: 5px;
    margin-top: 5px;
  }
  
  #new-graph-dialog {
    .modal-body {
      height: 100px;
    }
  }

  .in-progress {
    margin-bottom: 20px;
    img {
      margin-right: 10px;
    }
  }
  
}