.biblio-form {
  
  margin: 20px;
  
  .form-wrapper {
    margin: 30px;
    max-width: 500px;
  }
  
  .field-wrapper {
    margin-bottom: 20px;
  }
  
  .instructions {
    font-style: italic;
    margin-left: 5px;
    margin-top: 5px;
  }
  
  .actions {
    float: right;
  }
  
}