<ul class="nav nav-tabs single-item" role="tablist">
	<li role="presentation" class="active"><a href="#primary" aria-controls="primary" role="tab">Primary</a></li>
	<li role="presentation"><a href="#reference" aria-controls="reference" role="tab">Reference</a></li>
	<li role="presentation"><a href="#physical" aria-controls="physical" role="tab">Physical</a></li>
	<li role="presentation"><a href="#editorial" aria-controls="editorial" role="tab">Editorial</a></li>
	<li role="presentation"><a href="#citations" aria-controls="citations" role="tab">Citations</a></li>
</ul>

<div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="primary"><div id="primary-tab"></div></div>
	<div role="tabpanel" class="tab-pane" id="reference"></div>
	<div role="tabpanel" class="tab-pane" id="physical"></div>
	<div role="tabpanel" class="tab-pane" id="editorial"></div>
	<div role="tabpanel" class="tab-pane" id="citations"></div>
	<div class="clearfix"></div>
</div>

