<tr class="edit-place-form">
    <%= partials.stringInputCell({ 
      field_name: 'city', 
      field_placeholder: 'City as printed.', 
      field_value: publicationPlace.city 
    }) %>
    <%= partials.stringInputCell({ 
      field_name: 'state', 
      field_placeholder: 'State as printed.', 
      field_value: publicationPlace.state
    }) %>
    <%= partials.stringInputCell({ 
      field_name: 'country', 
      field_placeholder: 'Country as printed.', 
      field_value: publicationPlace.country
    }) %>
    <td>
    <button class="btn save-place-button btn-primary btn-sm">Add</button>
    <button class="btn cancel-place-button btn-default btn-sm">Cancel</button>
  </td>
</tr>