<%= partials.validationErrors({ validationErrors: validationErrors }) %>

<%= partials.stringInput({ 
  field_name: 'provenance', 
  field_title: 'Provenance of Bibliography', 
  field_value: biblio.provenance, 
  field_instructions: 'Indicate who owns the materials you are examining (ex: owned by Cushing; borrowed from Princeton University Library).', 
  error: _.has(validationErrors, 'provenance') 
}) %>

<%= partials.stringInput({ 
  field_name: 'pub_number', 
  field_title: 'Publication Number', 
  field_value: biblio.pub_number, 
  field_instructions: 'Consult the item to see whether an ISSN or ISBN is included.', 
  error: _.has(validationErrors, 'pub_number') 
}) %>

<p>TODO: two steps: first, a dropdown to indicate whether ISSN or ISBN. If ISSN, provide form with eight digits, if ISBN, provide flexibility to enter either 10 or 13 digits.</p>
