<tr class="edit-staff-form">
    <%= partials.stringInputCell({ 
      field_name: 'name', 
      field_placeholder: 'Name', 
      field_value: staffMember.get('name') 
    }) %>
    <%= partials.stringInputCell({ 
      field_name: 'role', 
      field_placeholder: 'Role', 
      field_value: staffMember.get('role')
    }) %>
    <td>
    <button class="btn save-staff-button btn-primary btn-sm">Add</button>
    <button class="btn cancel-staff-button btn-default btn-sm">Cancel</button>
  </td>
</tr>