<div class="bib-staff">
  <h4>Bibliography Staff</h4>
  <div class="instructions">Use the table below to record the staff of the publication and their roles in its production. Click 'New Person' to add an entry.</div>
  <table class="table" >
    <thead>
        <tr>
            <th>Person</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="staff-tbody">
    </tbody>
  </table>

  <button class="btn btn-sm add-staff-button btn-default">New Person</button>
</div>